<footer>
    <div class="footer-inner ">
        <div class="row">
            <div class="col-md-4">
                <div class="footer-details text-center">
                    <h3 class="text-uppercase text-center">Location</h3>
                    <p>2215 John Daniel Drive</p>
                    <p>Clark, MO 65243</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-details text-center">
                    <h3 class="text-uppercase text-center">around the web</h3>
                    <div class="social-icons  ">
                        <div class="row col-7">
                            <div class="col-md-3 ">
                                <div>
                                    <i class="fa-brands fa-facebook mx-1 rounded-circle icon" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="col-md-3 ">
                                <div>
                                    <i class="fa-brands fa-twitter mx-1 rounded-circle icon" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="col-md-3 ">
                                <div>
                                    <i class="fa-brands fa-linkedin mx-1 rounded-circle icon" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="col-md-3 ">
                                <div>
                                    <i class="fa-solid fa-globe mx-1 rounded-circle icon" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="footer-details text-center">
                    <h3 class="text-uppercase text-center">about freelancer</h3>
                    <p> Freelance is a free to use, licensed Bootstrap theme created by Route </p>
                </div>
            </div>
        </div>
        


    </div>
    
</footer>
<div  class="  copyright text-center ">
 
    <div>
        <p class="pt-3">Copyright © Your Website 2021</p>
    </div>
 
   
</div>