


footer{
    background-color: var(--second-color);
    color:var(--font-color);
    padding:40px
}
h3{
    padding-top: 20px;
}
.icon{
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
}
.social-icons{

    margin-left: 130px;
}
.copyright
{
    background-color: var(--copyright-color);
    color:var(--font-color);
    padding: 10px;
}
